{% extends "../_master.twig" %}
{# using master template #}


{% block title %}Customer Chat : {{ thread_title }} {%endblock%}


{% block content %}

    <br /><br />

    <div class="row" id="chatContainer">

        <div id="chatPanel" class="panel panel-default text-center">
            <div class="panel-heading">
                <h1 class="panel-title">{{ thread_title }}</h1>
            </div>
            <div class="panel-body" style="text-align: left;" id="chatPanelBody">


            </div>
        </div>


    </div>

{% endblock %}