{% extends "../_master.twig" %}
{# using master template #}


{% block title %}Customer Support Center{%endblock%}


{% block content %}

	<br />

    <div class="row" id="centeredContainer">

        <div id="chatPanel" class="panel panel-default text-center">
            <div class="panel-heading">
                <h1 class="panel-title">Customer Support Center</h1>
            </div>
            <div class="panel-body" style="text-align: left;" id="createPanelBody">

                <ul class="nav nav-pills nav-justified">

                    <li role="presentation" class="active"><a href="#">Create a new issue</a></li>

                    <li role="presentation"><a href="{{ app_BASE_URL }}/history">View past issues</a></li>
                </ul>

                <br /><hr /><br />

                <form id="createForm">

                    <div class="form-group">
                        <label for="subjectFld">Subject:</label>
                        <input type="text" class="form-control" id="subjectFld" placeholder="Short description of your issue" />
                    </div>

                    <br />
                    <br />

                    <button type="submit" class="btn btn-lg btn-success btn-block">Chat to Support</button>
                </form>
            </div>
        </div>


    </div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
		$(document).ready(function () {

			var _currentUrl = '{{ app_BASE_URL }}support';
			var _newThreadUrl   = '{{ app_BASE_URL }}api/v1/threads';


			$("#createForm").submit(function (event) {

				event.preventDefault();

				var title = $('#subjectFld').val();

				//clear container
				$('#createPanelBody').empty().append('creating new issue...');

				//send ajax request
				$.ajax({
					type: "POST",
					dataType: "json",
					url: _newThreadUrl,
					data: {
						"title": title
					},
					success: function (data, textStatus, xhr) {

						if (data.status == 'ok') {

							window.location = '{{ app_BASE_URL }}chat?threadId=' + data.payload.thread_id;
						}
						else {

							alert("an error has occurred, try again");
							window.location = _currentUrl;
						}
					},
					error: function (xhr, textStatus, errorThrown) {

						alert("an error has occurred, try again");
						window.location = _currentUrl;
					}
				});
			});
		});
    </script>
{% endblock %}

