{% extends "_master.twig" %}
{# using master template #}


{% block title %}Welcome{%endblock%}


{% block content %}
    <div class="row vertical-center">

        <div id="loginPanel" class="panel panel-default text-center">
            <div class="panel-heading">
                <h1 class="panel-title">Some sales pitch here</h1>
            </div>
            <div class="panel-body">


                <p class="lead">Lorem ipsum dolor sit amet, sit nominavi mediocrem ex, mea persius omittam scribentur in, vim hinc simul probatus in. No eum quod vidisse. At mea hinc instructior, solum dictas labores ut sit. Eum ea alterum eligendi platonem, duo ea nobis scripta verterem. Eum magna nostrum scribentur ad.</p>
                <p><a class="btn btn-lg btn-success" href="{{ app_BASE_URL }}" role="button">Sign up today</a></p>

            </div>
        </div>

    </div>
{% endblock %}